__tests__
.node_repl_history
.nyc_output
.nyc_output
.rpt2_cache
.vscode
.eslintignore
.eslintrc.yml
.npmrc
.prettierrc
.travis.yml
jest.config.js
package-lock.json
rollup.config.js
tsconfig.json
coverage
node_modules
npm-debug.log*
yarn*
examples
